/* #region common */



    body {
      font-family: "Roboto", sans-serif;
      color: #434455;
      background-color: #FFFFFF; 
}

ul, ol {
  list-style-type: none;
  margin: 0;
    padding: 0;
  
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* #endregion */

/* #region header */
.header-container {
    display: flex;
    align-items: center;
   
}

.header-nav {
    display: flex;
   align-items: center;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}


.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
    content: "";
   position: absolute;
   left: 0;
   bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    border-radius: 2px;
    
}

.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}


.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
} 
/* #endregion header */

/* #region hero */

.hero-section {
background-color: #2e2f42;
padding : 188px 0;
text-align: center;
max-width: 1440px;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/background-image.jpg");
background-size: cover;
background-position: center;    
background-repeat: no-repeat;
}
.hero-title {
    max-width: 496px;
    margin: 0 auto ;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-button {
   display: inline-block;
   padding: 16px 32px;

    font-weight: 500;
   font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
         color: #fff;
          background-color: #4d5ae5;
          border: none;
border-radius: 4px;
        cursor: pointer;
       
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endregion main */

/* #region features */

.features-section {

    padding: 120px 0;
}
.features-item-wrapper{
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-title { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
   
}
.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    
}
/* #endregion features */

/* #region team */
.team-section {
    padding : 120px 0;
    background-color: #f4f4fd;
}
.team-section-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42; }
    .team-list {
    display: flex;
    gap: 24px;
    }

    .team-item {
    background-color: #fff;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 3 * 24px) / 4);
    }
 

.team-img { 
    display: block;
    width: 100%;
    height: auto;
}

    .team-card {
    padding: 32px 16px;
    text-align: center;

    }
.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
     
        color: #2e2f42;
        margin-bottom: 8px;
}
.team-role {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
       
        color: #434455;
}

.socials-list {
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 24px;
   
}
.socials-link {
    width:40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF; }

.socials-icon {
    fill: #F4F4FD; }

/* #endregion team */
/* #region portfolio */
.section-portfolio{
    padding: 120px 0;
}
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 2 * 24px) / 3 );
}
.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
}
.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}
.portfolio-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

display: block;
padding: 40px 32px;
transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus-within .portfolio-overlay {
    transform: translateY(0);
}




.portfolio-category {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.portfolio-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.page-footer {
    background-color: #2e2f42;
     padding: 100px 0;

}
.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px;

  
  
}
.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
   gap:16px;

}
.footer-left {
   
}
.footer-logo .logo-part {
    color: #f4f4fd;
   
}
 .footer-logo {
    display: inline-block;
 }

.footer-text {
    max-width: 264px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-socials-title{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;


}
.footer-socials {
    display: inline-block;
}



.footer-socials-list {
display: flex;
gap: 16px;
}



.footer-socials-link {
    width: 40px;
    height:40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA; }

.footer-socials-icon {
   
    fill: #F4F4FD;

}
/* #endregion footer */